{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Gestão de Estoque</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
  <link rel="shortcut icon" type="imagex/png" href="{% static 'img/icon.ico' %}">
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        <img src="{% static 'img/logo_oficial.png' %}" alt="Logo">
      </div>
      <ul class="menu">
        <li><a href="{% url 'login' %}"><i class="fas fa-home"></i> Sair</a></li>
      </ul>
    </aside>
    <main class="content">
      <header>
        <h1><span>Componentes </span> / Estoque</h1>
        <div class="user-info">
          <span>Olá, {{ user.first_name }}!</span>
          <img src="{% static 'img/user.jpeg' %}" alt="Foto do usuário">
        </div>
      </header>
      <section class="inventory">
        <div class="search-bar">
          <input type="text" placeholder="Pesquisar...">
          <a href="{% url 'cadastrar_produto' %}"><button class="new-item">Novo <i class="fas fa-plus"></i></button></a>
        </div>
        <table>
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Editar</th>
              <th>Deletar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                {% for produto in produtos %}
                    <td>
                      #PROD{{ produto.id }}
                    </td>
                    <td>
                      <a href="{% url 'detalhe_produto' produto.id %}" id="edit">{{ produto.nome }}</a>
                    </td>
                    <td>
                      {{ produto.quantidade }}
                    </td>
                    <td>
                      <a href="{% url 'editar_produto' produto.id %}" class="edit">
                        <i class="fas fa-edit"></i>
                      </a>
                    </td>
                    </td>
                    <td>
                        <button class="delete" data-id="{{ produto.id }}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                    </tr>
                {% endfor %}
          </tbody>
        </table>
       
      </section>
    </main>
  </div>

  <div id="editModal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Editar Item</h2>
      <form id="editForm">
        {% csrf_token %}
        <input type="text" name="nomeProduto" id="editName" placeholder="Nome">
        <input type="text" name="descricaoProduto" id="editCode" placeholder="Descrição">
        <input type="number" name="quantidadeProduto" id="editQuantity" placeholder="Quantidade">
        <input type="number" name="precoProduto" id="addPrice" placeholder="Preço">
        <input type="date" name="dataCadastro" id="addDate" value="{{ data_atual|date:'Y-m-d' }}" placeholder="Data de cadastro" disabled>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>

  <div id="addModal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Cadastrar Item</h2>
      <form id="addForm">
        {% csrf_token %}
        <input type="text" name="nomeProduto" id="editName" placeholder="Nome">
        <input type="text" name="descricaoProduto" id="editCode" placeholder="Descrição">
        <input type="number" name="quantidadeProduto" id="editQuantity" placeholder="Quantidade">
        <input type="number" name="precoProduto" id="addPrice" placeholder="Preço">
        <input type="date" name="dataCadastro" id="addDate" value="{{ data_atual|date:'Y-m-d' }}" placeholder="Data de cadastro" disabled>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>

  {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
  {% endif %}


  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>